
doctype html
html(lang="en")
  include components/head
  body
    include components/header
    main
      include components/banner
      include components/services
    include components/footer