include ../utils/information/general
header
  .container
    .logo
      a.logo__main(href="https://www.frontendpractice.com/projects/abstract"): img(src="./assets/logo.svg", alt="Logo")
      a.logo__title(href="https://www.frontendpractice.com/projects/abstract") #{title__page}
    .nav
      .nav__search
        i(class='bx bx-search')
      .nav__menu
        i(class='bx bx-menu')
      .request
        button Submit a request
      .sing-in
        button Sing in