-var abstract__title = "Abstract"
-var abstract__menu = ["Start Trial", "Pricing", "Download"]

-var resources__title = "Resources"
-var resources__menu = ["Blog", "Help", "Center","Release", "Notes", "Status"]

-var community__title = "Community"
-var community__menu = ["Twitter", "LinkedIn", "Facebook", "Dribbble", "Podcast"]

-var company__title = "Company"
-var company__menu = ["About Us", "Careers", "Legal"]