-var action = "Learn More"

-var titles = ["Using Abstract", "Manage your account", "Manage organizations, teams, and projects", "Manage billing", "Authenticate to Abstract", "Abstract support"]
-var description = ["Abstract lets you manage, version, and document your designs in one place.", "Configure your account settings, such as your email, profile details, and password.", "Use Abstract organizations, teams, and projects to organize your people and your work.", "Change subscriptions and payment details.", "Set up and configure SSO, SCIM, and Just-in-Time provisioning.", "Get in touch with a human."]

